<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IT_Save.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IT_Save.My.MySettings.IT_SaveConnectionString" connectionString="Data Source=IT-IQ.mywire.org\SQLEXPRESS;Initial Catalog=IT-Save;Persist Security Info=True;User ID=itsave_app;Password=DXwXcwdv08f^_753bHT-AZCi;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <IT_Save.My.MySettings>
            <setting name="LastCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="NameEmp" serializeAs="String">
                <value />
            </setting>
            <setting name="CodeEmp" serializeAs="String">
                <value />
            </setting>
            <setting name="EmployeeEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="EmployeePhone" serializeAs="String">
                <value />
            </setting>
            <setting name="EmployeeDepartment" serializeAs="String">
                <value />
            </setting>
        </IT_Save.My.MySettings>
    </userSettings>
</configuration>
